<h1>映画一覧</h1>

<% if @movies.any? %> <!-- 映画があるかどうかをチェック -->
  <ul>
    <% @movies.each do |movie| %> <!-- 各映画をループ -->
      <li>
        <h3><%= movie.title %></h3> <!-- 映画のタイトルを表示 -->
        <% if movie.release_date.present? %> <!-- リリース日が存在する場合 -->
          <p>公開日: <%= movie.release_date %></p>
        <% end %>
        <% if movie.poster_path.present? %> <!-- ポスターのパスがある場合 -->
          <%= image_tag("https://image.tmdb.org/t/p/w200#{movie.poster_path}", alt: "#{movie.title} ポスター") %>
        <% end %>
        <%= link_to '詳細', movie_path(movie.api_id) %> <!-- 映画の詳細ページへのリンク -->
      </li>
    <% end %>
  </ul>
<% else %> <!-- 映画が存在しない場合 -->
  <p>映画は見つかりませんでした。</p>
<% end %>
<%= button_to '映画データを取得', fetch_movies_path, method: :post, class: 'btn btn-primary' %>
