<div class="container mx-auto px-6 py-8">  <!-- コンテナスタイル -->
  <h1 class="text-4xl font-bold text-center mb-6"><%= @movie.title %></h1>  <!-- タイトル中央配置 -->

  <div class="flex flex-col space-y-6">  <!-- 垂直方向に要素を並べて中央配置 -->
    <% if @movie.poster_path.present? %>
      <div class="w-full flex justify-center">  <!-- ポスター中央配置 -->
        <div class="rounded-lg shadow-lg w-full md:w-1/2">  <!-- ポスターコンテナ -->
          <%= image_tag("https://image.tmdb.org/t/p/w1280#{@movie.poster_path}", class: "w-full", alt: "#{@movie.title} ポスター") %>  <!-- ポスタースタイル -->
        </div>
      </div>
    <% end %>

    <div class="card bg-base-200 p-6 rounded-lg">  <!-- カードスタイル -->
      <% if @movie.release_date.present? %>
        <p class="text-lg text-gray-700">公開日: <%= @movie.release_date %></p>  <!-- リリース日スタイル -->
      <% end %>

      <% if @movie.overview.present? %>
        <p class="text-md text-gray-700">概要: <%= @movie.overview %></p>  <!-- 概要スタイル -->
      <% end %>
    </div>

    <% if user_signed_in? %>  <!-- ユーザーがサインインしている場合 -->
      <%= render 'reviews/form' %>  <!-- レビュー投稿フォーム -->
    <% else %>
      <div class="alert alert-warning">  <!-- 警告スタイル -->
        <p>レビュー投稿は、登録したユーザーのみ可能です。<%= link_to 'ログイン', new_user_session_path %></p>
      </div>
    <% end %>

    <%= render 'reviews/list', movie: @movie %>
    
    <div class="mt-6 text-center">  <!-- 投票ボタン -->
      <% if user_signed_in? %>
        <%= link_to "投票", vote_movie_path(@movie.id), class: "btn btn-primary text-xl py-3 px-6 bg-blue-500 text-white font-bold shadow-lg rounded-lg hover:bg-blue-700", data: { turbo_method: :post, turbo_confirm: '投票しますか？' } %>
      <% else %>
        <div class="alert alert-warning">
          <p>投票は、登録したユーザーのみ可能です。<%= link_to 'ログイン', new_user_session_path %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
