<div id="movie_<%= movie.id %>" class="card">
  <div class="text-content">
    <h3 class="text-xl font-semibold mb-2 truncate card-title"><%= movie.title %></h3>

    <% if movie.release_date.present? %>
      <p class="text-gray-600">公開日: <%= movie.release_date %></p>
    <% end %>

    <% if movie.poster_path.present? %>
      <%= image_tag("https://image.tmdb.org/t/p/w200#{movie.poster_path}", alt: "#{movie.title} ポスター", class: "rounded-lg mb-4 movie-poster") %>
    <% end %>

    <p class="text-gray-600">この映画への投票数: <%= Vote.where(movie_id: movie.id).count %></p>
  </div>
  <div class="flex justify-between items-center mt-4">
    <%= link_to '詳細', movie_path(movie.id), class: "btn btn-outline" %>
  </div>
</div>

<style>
  .card-title {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    overflow: hidden;
    text-overflow: clip; /* テキストがはみ出た場合に切り捨てる */
    white-space: normal; /* テキストを折り返す */
    line-height: 1.5; /* 行間を適切に設定 */
    height: 3em; /* 高さを固定して均一な外観を保つ */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2行に制限 */
    -webkit-box-orient: vertical;
  }

  .movie-poster {
    width: 100%; /* 画像をコンテナの幅に合わせる */
    max-width: 200px; /* 最大幅を200pxに制限 */
    height: 300px; /* 高さを固定 */
    object-fit: cover; /* 画像をコンテナに合わせてトリミング */
    margin: 0 auto; /* 画像を中央に配置 */
    display: block; /* 画像をブロック要素として扱う */
  }

  .card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* コンテンツ間のスペースを均等に分配 */
    min-height: 340px; /* 最小高さを設定 */
  }

</style>
