<div class="grid grid-cols-1 md:grid-cols-2 gap-6"> <!-- グリッド設定、2列 -->
  <% @movie.reviews.each do |review| %>
    <% if review.user && review.user.name %> <!-- ユーザー名が存在する場合のみ表示 -->
      <div class="card bg-base-100 shadow-lg p-4 rounded-lg"> <!-- レビューカード -->
        <!-- カードのコンテンツ -->
        <div class="flex space-x-4 items-center"> <!-- flexボックス、アイテムを中央揃え -->
          <!-- ユーザーアバター -->
          <% if review.user.avatar.present? %>
            <%= image_tag(review.user.avatar.url, alt: "ユーザーアバター", class: "avatar-sm rounded-full", height: "70px", width: "70px") %> <!-- アバター画像 -->
          <% else %> 
            <%= image_tag('/images/fallback/sample.jpg', alt: "デフォルトアバター", class: "avatar-sm rounded-full", height: "70px", width: "70px") %> <!-- デフォルトアバター -->
          <% end %>
          <!-- レビュー内容 -->
          <div class="text-gray-800">
            <%= simple_format(review.content) %>
          </div> 
        </div>
        <!-- ユーザー名 -->
        <div class="text-gray-800"><%= review.user.name %></div> 
        <div class="text-right">
          <% if review.user == current_user %>
            <%= link_to "削除", movie_review_path(@movie.id, review), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-error btn-error-right" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
